body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}


.main_link_button {
    height: 38px;
    background: #188038;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

a.link_button {
    font-size: 15px;
    height: 28px;
    background: #188038;
    border: 0;
    text-decoration: none;
    border-radius: 7px;
    padding: 11px;
    margin: 15px;
    color: #ffffff;
}

/* Top Header */
.top-header {
    background: #ffffff;
    color: #188038;
    padding-top: 4px;
    padding-bottom: 7px;
    min-height: 20px;
}

.top-header a {
    color: #188038;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.top-header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    font-size: 13px;
}

.top-header #branding {
    float: left;
}

.top-header nav {
    float: right;
    margin-top: 10px;
}

.top-header .highlight,
.top-header .current a {
    color: #96e6b3;
    font-weight: bold;

}


/* Header **/
header {
    background: #188038;
    color: #ffffff;
    padding-top: 10px;
    min-height: 50px;
    border-bottom: #96e6b3 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

header li {
    float: left;
    display: inline;
    padding: 0 10px 0 10px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    background: #96e6b3;
    font-weight: bold;
    /* text-decoration: none; */
    border-radius: 7px;
    padding: 11px;
    margin: 15px;
    color: #000000;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/* Main */
#main {
    min-height: 400px;
    background: url('../images/holding_hands.jpg') no-repeat 0 -500px;
    text-align: center;
    color: #ffffff;
}

#main h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#main p {
    font-size: 20px;
}

#main p a {
    font-size: 20px;
    height: 38px;
    background: #188038;
    border: 0;
    text-decoration: none;
    border-radius: 7px;
    padding: 11px;
    margin: 15px;
    color: #ffffff;
}


/* What we Do */
#what-we-do {
    min-height: 400px;
    background: url('../images/holding_hands.jpg') no-repeat 0 -500px;
    text-align: center;
    color: #ffffff;
}

#what-we-do h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#what-we-do p {
    font-size: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    /* padding: 10px; */
    padding: 5px;
    padding-bottom: 10px;
    margin: 4px;
    border: 1px #ccfccb solid;
    border-radius: 5px;
}

#boxes .box img {
    width: 180px;
    height: 90px;
}

.box-bottom-text {
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 14px;
}


span.goal-text {
    float: left;
    color: #000000;
    font-weight: bold;
    font-size: 13px;
}

span.raised-text {
    float: right;
    color: #188038;
    font-weight: bold;
    font-size: 13px;
}


/* Media Queries */
@media(max-width: 768px) {

    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }

    #boxes .box {
        /* float: none; */
        font-size: 12px;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    #main h1 {
        margin-top: 40px;
    }

    #newsletter button,
    .quote button {
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"],
    .quote input,
    .quote textarea {
        width: 100%;
        margin-bottom: 5px;
    }
}

/* Moving Volunteer Icon */

.moving-volunteer {
    background: url('../images/volunteer_pattern.png');
    background-size: 192px;
    -webkit-animation: moving 320s linear infinite;
    -o-animation: moving 320s linear infinite;
    animation: moving 320s linear infinite;
    animation-duration: 100s !important;
}

@keyframes moving {
    0% {
        background-position: 0 0;
    }

    20% {
        background-position: -400px -200px;
    }

    40% {
        background-position: 400px -400px;
    }

    60% {
        background-position: -400px 200px;
    }

    80% {
        background-position: 400px 400px;
    }

    100% {
        background-position: 0 0;
    }
}